.bodyClass {
    background-color: #d4eeff;
}

.not-visible{
    display: none;
}

.visible{
    display: block;
}
#SymbolList, #USDList, #EURList, #DOPList{
    display: none;
}

#exampleModal{
    display: none;


}