<div class="intro py-5 py-lg-9 position-relative text-white bg-dark">
    <div class="bg-overlay-primary">
      <img src="img/photos/7.jpg" class="img-fluid img-cover" alt="Robust UI Kit">
    </div>
    <div class="intro-content py-6 text-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto text-center">
            <h1 class="my-3 display-4 d-none d-lg-inline-block">Robust UI Kit</h1>
            <span class="h1 my-3 d-inline-block d-lg-none">Robust UI Kit</span>
            <p class="lead mb-3">Robust is a premium theme built with Bootstrap. The theme is fully customizable &amp; can be used for any type of application.</p>
            <a class="btn btn-success btn-lg mr-lg-2 my-1" href="getting-started.html" role="button">Get started</a>
            <a class="btn btn-outline-white btn-lg my-1" href="components-bootstrap.html" role="button">Components</a>
          </div>
        </div>
      </div>
    </div>
  </div>