<div class="intro py-5 py-lg-9 position-relative text-white bg-dark">
    <div class="bg-overlay-primary">
      <img src="img/photos/7.jpg" class="img-fluid img-cover" alt="Robust UI Kit">
    </div>
    <div class="intro-content py-6 text-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto text-center">
            <h1 class="my-3 display-4 d-none d-lg-inline-block">EasyCoins</h1>
            <span class="h1 my-3 d-inline-block d-lg-none">Robust UI Kit</span>
            <p class="lead mb-3">The most complete and easiest cryptocurrency exchange website</p>
            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                  <a type="button" class="btn btn-primary">Login</a>

                </div>
                <div class="col col-lg-2">
                  <a type="button" class="btn btn-info">Sign in</a>
                </div>
              </div>
         </div>
        </div>
      </div>
    </div>
  </div>