{% extends 'base.html' %}
{% block container %}
    <!-- Vertically centered scrollable modal -->
    {% load tag %}
    {% if token %}
        <input type="password" class="form-control me-2 visually-hidden" id="Token" value= {{ token.token }}>
        <input type="password" class="form-control me-2 visually-hidden" id="ConnectID" value= {{ token.timestamp }}>
    {% endif %}
    {% if scripted %}{{ scripted }}{% endif %}
    <div class="container-fluid">
        
    <div class="row mt-3 opacity-75">
        <div class="col-lg-4">
            <div class="card rounded border border-3 border-info">
                <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                    <div class="col">
                        <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                            <svg class="bi me-2" width="30" height="24">
                                <use xlink:href="#bootstrap"></use>
                            </svg>
                            <strong class="fs-5 fw-semibold">Easy exchange</strong>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="vstack gap-2 col-md-5 mx-auto">
                        <button type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Buy Now!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="container-fluid">
                <div class="card rounded border border-3 border-info">
                    <form action="{% url 'index' %}"      method="GET">
                        {% csrf_token %}
                        <div class="row justify-content-md-center">
                            <div class = "col-lg-8">
                                <div class="card-body">
                                    <input class="form-control me-2"
                                           type="search"
                                           placeholder="Search for your cryptocurrency or token"
                                           aria-label="Search"
                                           name="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-md-center mb-3">
                            <div class="col-lg-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           role="switch"
                                           id="flexSwitchCheckDefault"
                                           name="USD"
                                           {% if checkedswitch == 'USD' %} checked{% endif %}>
                                    <label class="form-check-label" for="flexSwitchCheckDefault">
                                        USD $ <strong class="mb-1">'Dollar'</strong>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           role="switch"
                                           id="flexSwitchCheckDefault"
                                           name="EUR"
                                           {% if checkedswitch == 'EUR' %} checked{% endif %}>
                                    <label class="form-check-label" for="flexSwitchCheckDefault">
                                        EUR € <strong class="mb-1">'Euro'</strong>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           role="switch"
                                           id
                                           flexSwitchCheckDefault
                                           name="DOP"
                                           {% if checkedswitch == 'DOP' %} checked{% endif %}>
                                    <label class="flexSwitchCheckDefault">
                                        DOP $<strong class="mb-1">'Peso Dominicano'</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row card mt-3 rounded border border-3 border-info">
                <div class="container">
                    {% if Fiat %}
                        <div class="row mt-5">
                            <div class="card bg-info">
                                <div class="card-body">
                                    <strong class="fs-5 fw-semibold">Search result...</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-2 mt-3 mb-3">
                            <div class="col" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="list-group list-group-flush border-bottom scrollarea">
                                    <div class="list-group-item list-group-item-action list-group-item-dark py-3 lh-tight"
                                         aria-current="true">
                                        <div class="d-flex w-100 align-items-center justify-content-between">
                                            <strong class="mb-1">{{ search }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col " data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="list-group list-group-flush border-bottom scrollarea">
                                    <div class="list-group-item list-group-item-action list-group-item-success py-3 lh-tight"
                                         aria-current="true">
                                        <div class="d-flex w-100 align-items-center justify-content-between">
                                            {% if Fiat > 1 %}
                                                <strong class="mb-1">{{ Fiat |floatformat:2 }}</strong>
                                            {% else %}
                                                <strong class="mb-1">{{ Fiat }}</strong>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="container">
                            <div class="row mt-5">
                                <div class="card bg-info">
                                    <div class="card-body">
                                        <strong class="fs-5 fw-semibold">Currencies</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <div class="spinner-border text-secondary" role="status" id="spinnerLoadingGray">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="spinner-border text-primary" role="status" id="spinnerLoadingBlue">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="spinner-border text-success" role="status" id="spinnerLoadingGreen">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="spinner-border text-warning" role="status" id="spinnerLoadingYelow">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <div>
                                    <div id="SymbolList">
                            {% if page_obj %}
                                {% for data in page_obj %}
                                <div class="row mb-1">
                                    <div class="col" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <div class="list-group list-group-flush border-bottom scrollarea">
                                            <div class="list-group-item list-group-item-action list-group-item-dark py-3 lh-tight"
                                                 aria-current="true">
                                                <div class="d-flex w-100 align-items-center justify-content-between">
                                                    <strong class="mb-1" >{{ data.Symbol }}</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <div class="list-group list-group-flush border-bottom scrollarea">
                                            <div class="list-group-item list-group-item-action bg-primary list-group-item-dark py-3 lh-tight"
                                                 aria-current="true">
                                                <div class="d-flex w-100 align-items-center justify-content-between fs-">
                                                    {% if price > 1 %}
                                                        <strong class="mb-1">USD ${{ data.USD |floatformat:2 }}</strong>
                                                    {% else %}
                                                        <strong class="mb-1">USD ${{ data.USD }}</strong>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <div class="list-group list-group-flush border-bottom scrollarea">
                                            <div class="list-group-item list-group-item-action bg-info list-group-item-dark py-3 lh-tight"
                                                 aria-current="true">
                                                <div class="d-flex w-100 align-items-center justify-content-between"
                                                     >
                                                    {% if price > 1 %}
                                                        <strong class="mb-1">EUR €{{ data.EUR |floatformat:2 }}</strong>
                                                    {% else %}
                                                        <strong class="mb-1">EUR €{{ data.EUR }}</strong>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <div class="list-group list-group-flush border-bottom scrollarea">
                                            <div class="list-group-item list-group-item-action bg-warning list-group-item-dark py-3 lh-tight"
                                                 aria-current="true">
                                                <div class="d-flex w-100 align-items-center justify-content-between">
                                                    {% if price > 1 %}
                                                        <strong class="mb-1">DOP $ {{ data.DOP |floatformat:2 }}</strong>
                                                    {% else %}
                                                        <strong class="mb-1">DOP $ {{ data.DOP }}</strong>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div>
                        <div class="row justify-content-md-center mt-5 mb-5">
                            <div class="col col-lg-2">
                                {% if page_obj.has_previous %}
                                    <a class="btn btn-light" href="?page=1">&laquo; first</a>
                                    <a class="btn btn-light"
                                       href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                            </div>
                            <div class="col-md-auto">
                                <strong class="btn btn-outline-info">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</strong>
                            </div>
                            <div class="col col-lg-2">
                                {% if page_obj.has_next %}
                                    <a class="btn btn-light" href="?page={{ page_obj.next_page_number }}">next</a>
                                    <a class="btn btn-light" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div>
{% endblock %}
